@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 22s linear infinite;
}


@keyframes verticalScroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

.animate-vertical {
  animation: verticalScroll 30s linear infinite;
}

@keyframes marquee-slow {
  from { transform: translateX(0); }
  to { transform: translateX(-33.33%); }
}

@keyframes marquee-reverse {
  from { transform: translateX(-33.33%); }
  to { transform: translateX(0); }
}


.animate-marquee-slow {
  animation: marquee-slow 40s linear infinite;
}

.animate-marquee-reverse-slower {
  animation: marquee-reverse 55s linear infinite;
}

.animate-marquee-slowest {
  animation: marquee-slow 70s linear infinite;
}